# input_results need to be specified if a connector is not present,
# and we already have retrieved results from a RAG system. In this case
# this file is produced by the connector below.
# input_results: ""

# Evaluation results are written to this folder.
input_queries: "sm_queries.csv"
results_folder: "./open_eval_results/"
generated_answers: "sm_answers_1.csv"
eval_results_file: "sm_results_1.csv"
metrics_file: "metrics.png"

evaluator:
  type: "TRECEvaluator"  
  model:
    type: "OpenAIModel"
    name: "gpt-4o-mini"
    api_key: ${oc.env:OPENAI_API_KEY}  # Reads from environment variable.

connector:
  type: "VectaraConnector"
  options:
    api_key: ${oc.env:VECTARA_API_KEY}
    corpus_key: "fiqa"
    query_config:
      search:
        limit: 5
        context_configuration:
          sentences_before: 3
          sentences_after: 3
      generation:
        generation_preset_name: "mockingbird-2.0"
        max_used_search_results: 5
        max_response_characters: 1000
        response_language: "eng"
        # Uncomment if you want to specify a custom prompt template.
        # prompt_template: "sample_prompt.txt"
        enable_factual_consistency_score: False
      intelligent_query_rewriting: False
      save_history: False
